.ico {
    cursor:pointer;
    display: inline-block;
}

.ico_play {
    background-image: url("../../assets/img/1486348532-music-play-pause-control-go-arrow_80458.svg");
    width: 18px;
    height: 19px;
}